<div class="spacer">
</div>

<div id="about">
  <h2><a name="about">About(Me).</a></h2>

  <div class="cards-centered">
    <ul class="cards">
      <li class="card-about">
        <h4>Simplicity</h4>
        <p> 
          I am a Toronto native, and a person who is learning to always have an appreciation for simple things in life. Beautifully simple things. Including code.
        </p>
      </li>

      <li class="card-about">
        <h4>Work, Work, Work</h4>
        <p>
          Im always interested in being involved in new projects, when not working on my own ideas. I also fall into the category of developer who is never really 100% satisfied with my previous work. Regardless, I am always working on something, and this is fueled by my goals and intentions of developing great applications.
        </p>
      </li>

      <li class="card-about">
        <h4>Endlessly Learning</h4>
        <p>
          I love to code. Since this great discovery, I am constantly thinking and learning about code. Currenlty I'm sharpening my skills in Java and Angular, and plan on creating mobile applications. With me, there is no fear of trying new things.
        </p>
      </li>
    </ul>
  </div>
</div>

<div id="feature">
  <h2><a name="project">Projects.</a></h2>

  <div class="cards-centered">

    <ul class="cards">
      <li class="card-feature size-large" onclick="void(0)">
        <div class="card-feature-mask">
          <h4>Sample Website</h4>
          <p>April 2016</p>
          <%= link_to "➦", "https://fubar-auto.herokuapp.com" %>
        </div>
      </li>

      <li class="card-feature" onclick="void(0)">
        <div class="card-feature-mask">
          <h4>More</h4>
          <p>Coming Soon</p>
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
        </div>
      </li>

      <li class="card-feature" onclick="void(0)">
        <%= render "image_gallery" %>
        <div class="card-feature-mask">
          <h4>Tools &</h4>
          <p>Technologies</p>
          <i class="fa fa-code fa-3x" aria-hidden="true"></i>
        </div>
      </li>

      <li class="card-feature" onclick="void(0)">
        <div class="card-feature-mask">
          <h4>More</h4>
          <p>Coming Soon</p>
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
        </div>
      </li>

      <li class="card-feature" onclick="void(0)">
        <div class="card-feature-mask">
          <h4>More</h4>
          <p>Coming Soon</p>
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
        </div>
      </li>

      <li class="card-feature size-large" onclick="void(0)">
        <div class="card-feature-mask">
          <h4>More</h4>
          <p>Coming Soon</p>
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
        </div>
      </li>

      <li class="card-feature" onclick="void(0)">
        <div class="card-feature-mask">
          <h4>More</h4>
          <p>Coming Soon</p>
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
        </div>
      </li>

      <li class="card-feature size-large" onclick="void(0)">
        <div class="card-feature-mask">
          <h4>More</h4>
          <p>Coming Soon</p>
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
        </div>
      </li>

      <li class="card-feature" onclick="void(0)">
        <div class="card-feature-mask">
          <h4>More</h4>
          <p>Coming Soon</p>
          <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
        </div>
      </li>

    </ul>

  </div><!-- cards-centered div -->
</div><!-- feature div -->

<div id="footer">

  <!-- <p>See more code, or get in touch.</p> -->

  <div id="social">
    <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>

    <%= link_to("https://github.com/BrianBend9") do %>
      <i class="fa fa-github-alt fa-lg" aria-hidden="true"></i>
    <% end %>

    <%= link_to("https://ca.linkedin.com/in/bbend") do %>
      <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
    <% end %>

    <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
  </div>
</div>
