$base-display-width: 90%;

html,
body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  // overflow: hidden;
}

.spacer {
  height: 50px;
  width: inherit;
  background-color: rgb(238, 238, 238);
}

.cards-centered {
  width: $base-display-width;
  margin: 0 auto;
  @include outer-container;
}

#about {
padding: 100px 0px 100px 0px;
}

#feature {
  padding: 100px 0px 150px 0px;
  background-color: rgb(238, 238, 238);
}

#feature h2,
#about h2 {
  margin-bottom: 50px;
  font-style: normal;
}

#footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: inherit;
  background-color: black;

    #social {
      display: flex;
      width: 30%;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;

      img {
        width: 40px;
        height: 40px;
      }

      i {
        color: white;

        &:hover {
          color: rgba(195, 192, 192, 0.8);
        }
      }
    }
}

@media screen and (max-width: 750px) {

  #footer #social {
    width: 60%;
  }
}
