//Hamburger button variables
$button-width: 65px;                   // The width of the button area
$button-height: inherit;               // The height of the button area
$bar-thickness: 4px;                   // The thickness of the button bars
$button-pad: 14px;                     // The left/right padding between button area and bars.
$button-bar-space: 8px;                // The spacing between button bars
$button-transition-duration: 0.2s;     // The transition duration

#nav-container {
  width: 100%;
  height: 80px;
  background-color: black;
  opacity: .90;
  // box-shadow: 9px 10px 11px -6px rgba(0,0,0,0.75);
  z-index: 999;
  position: fixed;
  -webkit-backface-visibility: hidden;
}

.fix-nav {
  position: fixed;
  top: 0px;
}

#nav {
  list-style-type: none;
  height: inherit;
  width: inherit;
  padding: 0;
  margin: 0;

  li {
    float: right;
    height: inherit;
    margin-right: 80px;

    a {
      font-family: 'Gudea', sans-serif;
      font-weight: lighter;
      display: block;
      text-decoration: none;
      // color: rgba(195, 192, 192, 0.8);
      color: white;
      line-height: 80px;

      &:hover {
        color: rgba(195, 192, 192, 0.8);
      }
    }
  }
}

//Hamburger Button & Animation
.hamburger {
  display: none;
  float: right;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  padding: 0;
  width: $button-width;
  height: $button-height;
  max-resolution: 1em;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: background $button-transition-duration;
  z-index: 999;
}

.hamburger:focus {
  outline: none;
}

.hamburger span {
  display: block;
  position: absolute;
  top: ($button-height / 2) - ($bar-thickness / 2);
  left: $button-pad;
  right: $button-pad;
  height: $bar-thickness;
  background: white;
}

.hamburger span::before,
.hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: $bar-thickness;
  background-color: white;
  content: "";
}

.hamburger span::before {
  top: -$bar-thickness - $button-bar-space;
}

.hamburger span::after {
  bottom: -$bar-thickness - $button-bar-space;
}

.hamburger-htx span {
  transition: background 0s 0.1s;
}

.hamburger-htx span::before,
.hamburger-htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0s, .2s;
}

.hamburger-htx span::before {
  transition-property: top, transform;
}

.hamburger-htx span::after {
  transition-property: bottom, transform;
}

.hamburger-htx.is-active span {
  background: none;
}

.hamburger-htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.hamburger-htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.hamburger-htx.is-active span::before,
.hamburger-htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

@media screen and (max-width: 700px) {

  .hamburger {
    display: inline-block;
  }

  #nav.responsive-menu {
    text-align: center;
    visibility: hidden;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.2s ease-in;

    &.is-active {
      visibility: visible;
      opacity: .95;
    }

    ul {
      width: 100%;
      padding: 0px;
      display: none;
    }

    li, a {
      width: 100%;
      background-color: black;
      border-top: 0.5px solid gray;
      height: 70px;
      line-height: 70px;
      margin: 0px;
    }

    a:hover {
      background-color: gray;
    }
  }
}
