<div id="nav-container">

  <button class="hamburger hamburger-htx">
    <span>toggle menu</span>
  </button>

  <ul id="nav" class="responsive-menu">
    <li><a href="#top">Home.</a></li>
    <li><a href="#about">About.</a></li>
    <li><a href="#project">Projects.</a></li>
  </ul>
</div>
